html {
  font-size: 17px;
}

label {
  font-size: .9rem;
}

body {
  background: #F0EEEF;
  cursor: auto;
  font-family: 'Istok Web', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  min-height:100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

body > * {
  margin: 0;
  /* for debugging... */
  /* outline: 1px yellow solid; */
  /* background: red !important;   */
}

i.fa {
  pointer-events: none; /* so FA icons don't impact clickability */
}

.revealTrigger em, .actionText em, a em {
  text-decoration: none;
  pointer-events: none;
  display: inline-block; /* necessary to override parent's text-decoration */
}

h1 {
  background-color: #1F2939;
  color: ghostwhite;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 600;
  display: block;
  padding: .4rem 0;
  white-space: nowrap;
  margin: 0;
}

body.unloaded {
  cursor: progress;
}

body.unloaded #loadingCover {
  display: block;
}

#loadingCover {
  display: none;
}

body.success #results,
body.error #results {
  display: block;
  animation: fadeIn .5s;
  text-align: center;
  overflow: hidden;
  background: #FFF;
  width: calc(100% - 10px); /* shrink by border size */
  border: 5px solid darkorange;
  border-radius: .25rem;
  overflow: auto;
}

#results {
  max-width: 26rem;
  display: none;
}

#results h2 {
  background: darkorange;
  color: white;
  width: 100%;
  font-size: 1.4rem;
  margin: 0;
}

#results p {
  margin: 1.5rem;
  line-height: 1.75rem;
}


body.unloaded #controls {
  display: none;
}

#controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  animation: fadeIn .5s;
  padding: 0;
}

#controls >* {
  margin: 0;
  margin-top: 1rem;
}

#controls >*:first-child {
  margin-top: 0;
}

.loading {
  animation: loadingAnim 1.1s infinite;
  animation-timing-function: ease;
  font-size: 1.75rem;
  line-height: .5rem;
}

@keyframes loadingAnim {
  0%   {letter-spacing: 0;}
  50% {letter-spacing: .3rem;}
  100%   {letter-spacing: 0;}
}

#centralColumn {
  flex-grow: 1;
  flex-shrink: 0; /* < flex child properties */ 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  /* Non-jumpy w/ dynamic loading */
  align-items: center;
  max-width: 80vw;
  margin: 0;
  padding: 1rem;
}

#centralColumn>* {
  margin: 1rem 0;
  /* for debugging... */
  /* outline: 1px lime solid; */
  /* background: red !important;   */
}

#defeatsList:empty {
   display: none;
 }

#defeatsList:not(:empty) {
  animation: fadeIn .3s;
  border-radius: .1rem;
  width: calc(100% - 6px); /* shrink by border size */
  text-align: left;
  list-style-position: outside;
  padding: 0;
  outline: 2px #889db2 solid;
  background: white;
}

#defeatsList li {
  animation: fadeIn .3s;
  line-height: 105%;
  list-style-position: inside;
  white-space: nowrap;
  color: darkorange;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 1.25rem 0;
  border-bottom: 2px #b3cae2 solid;
  margin: 0 1rem;
  overflow: visible;
  position: relative;
}

#defeatsList li.noNumber {
  list-style-type: none;
}

#defeatsList li:last-child {
  border-bottom: none;
}

#defeatsList li span {
  vertical-align: middle;
  white-space: normal;
  overflow-wrap: normal;
  display: inline-block;
  font-size: 17px;
  color: #202121;
  font-weight: normal;
  /* margin-left: .25rem; */
  margin-right: 1.2rem;  /* for more sensitive wrap */
}

.actionText {
  text-decoration: underline;
  color: #D46700;
  font-weight: bold;
  cursor: pointer;
  display: none;
}

.actionText.big {
  font-size: 1.2rem;
}

.actionText:hover {
  color: orange;
}

body.keepGoing #keepLookingText.actionText {
  display: block;
  animation: fadeIn .5s;
}


body.looking #reset.actionText {
  display: block;
}

body.keepGoing #reset.actionText {
  display: block;
  font-size: 85%;
}

#reset.actionText {
  display: none;
  color: red;
}

#reset.actionText:hover {
  color: darkred;
}

#progressIndicator {
  display: none;
}

body.looking #progressIndicator {
  display: block;
}

.loadingSpin {
  display: block;
  position: relative;
  margin: 0 auto;
  height: 2.4rem;
  width: 2.4rem;
  border: 5px #D0D0D0 solid;
  border-left-color: darkorange;
  border-top-color: darkorange;
  border-radius: 50%;
  animation: spin 1.75s infinite linear;
  padding: 0;
}


@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

body.success #viewResults {
  display: block;
}

.errMsg {
  color: darkred;
  display: block;
  text-align: center;
}

.errMsg::first-letter {
  font-size: 1.5rem;
  color: red;
  margin-right: .25rem;
}

button {
  padding: .5rem;
  cursor: pointer;
  border: 1.5px #1f7337 solid;
  border-radius: .25rem;
  background: #2DA44E;
  color: white;
  font-size: 17px;
}

button:hover {
  background: #24833e;
}

button:disabled {
  background: lightgray;
  color: gray;
}

#launchSearch {
  display: none;
}

body.loaded #launchSearch,
body.success #launchSearch,
body.reset #launchSearch,
body.error #launchSearch {
  display: block;
}

#keepLooking {
  display: none;
}

@keyframes fadeIn {
  0%   {opacity: 0;}
  100%   {opacity: 1;}
}


body.keepGoing #keepLooking {
  display: block;
  animation: fadeIn .5s;
}

body.looking #stopSearch {
  display: inline;
}

button#stopSearch:hover {
  background: #d82b2b;
}

input, select {
  padding: .4rem;
  margin-left: .3rem;
  font-size: 16px;
}

#uName {
    width: 6rem;
}

.stateA {
  display: initial;
}

.shown.stateA,
.shown .stateA {
  display: none;
}

.stateB {
  display: none;
}

.shown.stateB,
.shown .stateB{
  display: initial;
}

@media only screen and (orientation: portrait),
       only screen and (max-width: 900px) {

        
}

header #bottomRow >* {
  white-space: nowrap;
  margin: 0;
  padding: 0 1.25rem;
}


#bottomRow {
  border-top: 1px rgba(255,255,255,0.3) solid;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: baseline;
  justify-content: center;
  min-height: 2.5rem;
  line-height: 2.5rem;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  background: #1F2939;
  color: ghostwhite;
  min-height: 4rem;
}

header ul {
  flex-basis: 100%;
  text-align: left;
  margin: 0 1rem;
  padding: 2rem 10%;
  max-width: 50rem;
}

header a {
  color: cornflowerblue;
  word-break: break-word;
}

header span.revealTrigger {
  color: cornflowerblue;
  cursor: pointer;
  line-height: 2rem;
}
